.main {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    font-weight: normal;
    font-style: normal;
}

.menu {
    position: relative;
    display: flex;
    /* background-color: aqua; */
    background-color: #ca84bb;
}

.menu-tab {
    font-family: '8BITWONDERNominal';
    position: relative;
    left: 35%;
    background-color: #ca84bb;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
}

#zone-game {
    font-family: '8BITWONDERNominal';
    color: #8f6486;
    text-align: center;
    background-color: bisque;
    position: relative;
    top: 80%;
    width: 1280px;
    height: 720px;
}